.weather__card__item--temperature {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather__card__item--temperature span {
  position: relative;
  font-size: 7rem;
}

.icon-celsius {
  position: absolute;
  top: 10px;
}

.weather__card__item--temperature img {
  width: 100%;
  max-width: 150px;
}