.weather {
  display: grid;
  gap: 20px;
  place-items: center;
  padding: 8rem 1rem 0;
  grid-template-columns: minmax(300px, 1fr);
}

.weather__card__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width:700px) {
  .weather {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}